.titleHeader {
    text-align: center;
    color: rgb(181, 68, 68);
    font-size: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.widgetContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-card {
    width: 300px;
    padding: 20px;
    borderRadius: 12px;
    backgroundColor: #ffffff;
    boxShadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    textAlign: center;
    border: 1px solid #f0f0f0;
}

.feedback-textarea {
    width: 100%;
    max-width: 600px;
    height: 150px;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 16px;
    resize: vertical;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.feedback-textarea:focus {
    border-color: rgb(60, 153, 128);
    outline: none;
}




.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    font-size: 10px;
    background-color: rgb(60, 153, 128);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 5px
}


.submit-button:hover {
    filter: brightness(0.9);
}


.submit-button-red {
    background-color: rgb(181, 68, 68);
}


.submit-button:active {
    transform: translateY(2px);
}

/*
.app-container {
    display: grid;
    grid-template-columns: 1fr 300px; */
/* Main content on left, sidebar on right *//*

    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

*/
/* Make sure the login/cards look like distinct "modules" *//*

.card-container, .login-container {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.05);
}*/
